.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
	height: 10vh;
	.categories {
		display: flex;
		flex-direction: row;
		width: 90%;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	.logo {
		width: clamp(80px, 3.5vw, 100px);
		border-radius: 15px;
		position: absolute;
		top: 1.5vh;
		left: 3vw;
	}
	.icon {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		display: flex;
		justify-content: flex-end;
		.logo {
			position: absolute;
			top: 2vh;
			left: 5vw;
		}
		.categories {
			transition: all 0.2s ease-in-out;
			position: absolute;
			top: 2vh;
			right: 4vw;
			width: 0px;
			height: 0px;
			overflow: hidden;
			flex-direction: column;
			background-color: rgb(197, 197, 196);
			justify-content: flex-end;
			border-radius: 10px;
			display: flex;
			&[data-menu-open="true"] {
				width: 65%;
				height: 40%;
			}
		}
		.icon {
			display: block;
			height: 30px;
			width: 20px;
			position: absolute;
			top: 4vh;
			right: 10vw;
		}
	}
}
