.navContainer {
	width: 25%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	&:last-child {
		margin-right: 25px;
	}
	&:hover {
		cursor: pointer;
		background-color: rgb(224, 224, 224);
		-webkit-transition: background-color 500ms ease-in-out;
		-moz-transition: background-color 500ms ease-in-out;
		-o-transition: background-color 500ms ease-in-out;
		-ms-transition: background-color 500ms ease-in-out;
		transition: background-color 500ms ease-in-out;
	}
	.title {
		font-size: 25px;
		justify-self: center;
	}
}
