.navContainer {
	width: 25%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	&:last-child {
		margin-right: 25px;
	}
	&:hover {
		cursor: pointer;
		background-color: rgb(211, 203, 203);
	}
	.title {
		font-size: 25px;
		justify-self: center;
	}
}
