.singleMerch{
    display: flex;
    &[data-display="false"]{
        display: none;
    }
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
    transition: transform 1s;
    width: 100%;
    .merchTitle{
        font-size: medium;
    }
    .price{
        font-size: medium;
    }
    img{
        width: 50px;
    }
}